@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes zoomBackground {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}

.hero-bg {
  animation: zoomBackground 20s ease-in-out infinite alternate;
}

@keyframes zoomHero {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}

.hero-bg {
  animation: zoomHero 20s ease-in-out infinite alternate;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #b91c1c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}

